python-dotenv
streamlit
pandas
numpy
scikit-learn
Faker
plotly
transformers
langchain
langchain-community
langchain-huggingface
gptcache
azure-ai-textanalytics
azure-search-documents
azure-cognitiveservices-vision-computervision
msrest
openai
gptcache
transformers
torch
faiss-cpu